<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="vendor/autoload.php" colors="true" stopOnFailure="false" displayDetailsOnTestsThatTriggerWarnings="true">
    <testsuites>
        <testsuite name="Commission Calculation">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    
</phpunit>